.cursor-slide {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  flex-wrap: nowrap;
  cursor: grab;
  user-select: none;
  padding: 10px 0;
  margin-top: 40px;
  backface-visibility: hidden;
  transition: transform 0.1s ease-out;

  &::-webkit-scrollbar {
    display: none;
  }

  .imges {
        flex-shrink: 0;
        width: 120px;
    text-align: center;

    img {
      width: 100%;
      height: 120px;
      object-fit: contain;
    }

    h3 {
      font-size: 14px;
      margin-top: 8px;
      font-weight: 500;
    }
  }
}
