.grid {
  display: flex;
  width: 100%;
  height: 558px;
  margin-top: 30px;
  background-color: #d70018;
  border-radius: 20px;
  .grid-left {
    padding: 16px;
    .grid-top {
      display: flex;
      width: 440px;
      height: 255px;
      background: #ffffff;
      border-radius: 20px;
      padding: 20px;
      z-index: 50;
      .right {
        h4 {
          text-decoration: line-through;
          color: #888888;
          font-weight: 100;
        }
        h3 {
          margin-top: 8px;
          font-weight: 600;
          font-size: 20px;
          color: #d70018;
        }
        button {
          background-color: #ffd740;
          font-weight: 600;
          margin-top: 10px;
          cursor: pointer;
          border: none;
          border-radius: 5px;
          padding: 8px 12px;
        }
      }
      .ikons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .ri-heart-line {
          z-index: 100;
          font-size: 26px;
          color: #666666;
          margin-right: 0px;
          cursor: pointer;
        }
        .ri-bar-chart-fill {
          font-size: 26px;
          margin-top: 20px;
          color: #666666;
          cursor: pointer;
        }
      }
      .left {
        img {
          width: 200px;
          z-index: 50;
          position: relative;
        }
      }
      .chegirma {
        position: absolute;
        padding: 5px;
        background-color: #d70018;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        z-index: 100;
      }
    }
    .grid-bottom {
      display: flex;
      margin-top: 16px;
      width: 440px;
      height: 255px;
      background: #ffffff;
      border-radius: 20px;
      padding: 20px;
      .right {
        h4 {
          text-decoration: line-through;
          color: #888888;
          font-weight: 100;
        }
        h3 {
          margin-top: 8px;
          font-weight: 600;
          font-size: 20px;
          color: #d70018;
        }
        button {
          background-color: #ffd740;
          font-weight: 600;
          margin-top: 10px;
          cursor: pointer;
          border: none;
          border-radius: 5px;
          padding: 8px 12px;
        }
      }
      .ikons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .ri-heart-line {
          z-index: 100;
          font-size: 26px;
          color: #666666;
          margin-right: 0px;
          cursor: pointer;
        }
        .ri-bar-chart-fill {
          font-size: 26px;
          margin-top: 20px;
          color: #666666;
          cursor: pointer;
        }
      }
      .left {
        img {
          width: 200px;
          z-index: 50;
          position: relative;
        }
      }
      .chegirma {
        position: absolute;
        padding: 5px;
        background-color: #d70018;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        z-index: 100;
      }
    }
  }
  .grid-right{
      border-radius: 20px;
      padding: 20px 10px 0px;
    .right1{
        .grid-top {
      display: block;
      width: 250px;
      height: 100%;
      background: #ffffff;
      border-radius: 20px;
      padding: 10px;
      z-index: 50;
      .right {
        h4 {
          text-decoration: line-through;
          color: #888888;
          font-weight: 100;
        }
        h3 {
          margin-top: 8px;
          font-weight: 600;
          font-size: 20px;
          color: #d70018;
        }
        button {
          background-color: #ffd740;
          font-weight: 600;
          margin-top: 10px;
          cursor: pointer;
          border: none;
          border-radius: 5px;
          padding: 8px 12px;
        }
      }
      .ikons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .ri-heart-line {
          z-index: 100;
          font-size: 26px;
          color: #666666;
          margin-right: 0px;
          cursor: pointer;
        }
        .ri-bar-chart-fill {
          font-size: 26px;
          margin-top: 20px;
          color: #666666;
          cursor: pointer;
        }
      }
      .left {
        img {
          width: 200px;
          z-index: 50;
          position: relative;
        }
      }
      .chegirma {
        position: absolute;
        padding: 5px;
        background-color: #d70018;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        z-index: 100;
      }
    }
    }
  }
}
