$primary-red: #ef3e33;
$text-black: #1f2026;
$gray-light: #f2f2f2;
$yellow-bg: #fff3c9;
$transition: 0.3s ease;

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.slide{
    .slire-left {
        .swiper {
            margin: auto 0;
  width: 77%;
  height: 400px;
    border-radius: 20px;
  &-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}
    }
}
    .slire-right{
        .katta {
  width: 390px;
  height: 520px;
  background: #fff;
  border: 3px solid #d70018;
  border-radius: 26px;
  padding: 22px;

  .card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 22px;
      font-weight: 700;
    }

    .timer {
      span {
        background: #fff;
        border: 1px solid #e6e6e6;
        padding: 8px 10px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  .image-box {
    position: relative;
    background: #f3f3f3;
    border-radius: 14px;
    padding: 20px;
    margin: 20px 0;
    text-align: center;

    img {
      width: 230px;
      height: 230px;
      object-fit: contain;
      cursor: grab;
    }

    .sale {
      position: absolute;
      top: 12px;
      left: 12px;
      background: #d70018;
      color: #fff;
      padding: 6px 14px;
      border-radius: 10px;
      font-weight: 700;
    }
  }

  .price-box {
    .title {
      font-size: 20px;
      line-height: 1.3;
      margin-bottom: 14px;
    }

    .prices {
      display: flex;
      align-items: center;
      gap: 14px;

      .new {
        color: #d70018;
        font-size: 28px;
        font-weight: 800;
      }

      .old {
        color: #9c9c9c;
        font-size: 18px;
        text-decoration: line-through;
      }
    

    button {
      margin-top: 22px;
      background: #ffd400;
      border: none;
      padding: 16px;
      width: 100%;
      border-radius: 14px;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
    }
  }
}
    
}
    }