$primary-red: #ef3e33;
$text-black: #1f2026;
$gray-light: #f2f2f2;
$yellow-bg: #fff3c9;
$transition: 0.3s ease;

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.slide{
    .slire-left {
        .swiper {
            margin: auto 0;
  width: 77%;
  height: 400px;
    border-radius: 20px;
  &-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}
    }
}
 