.top_red {
  display: flex;
  background-color: #da002b;
  .top_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left_top_nav {
      gap: 1rem;
      display: flex;
      align-items: center;
      .rassrochka{
        color: #da002b;
        padding: 5px 12px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        border: 2px solid #fff;
        transition: 0.3s;
        &:hover {
            background-color: #da002b;
            color: #fff;
        }
      }
      .top_skidki {
        color: #fff;
        background-color: #da002b;
        padding: 5px 12px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        border: 2px solid #fff;
        transition: 0.3s;
        &:hover {
            background-color: #fff;
            color: #da002b;
        }
      }
      .rozigrish {
        color: #da002b;
        background-color: #fff;
        padding: 5px 12px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        border: 2px solid #fff;
        transition: 0.3s;
        &:hover {
            background-color: #da002b;
            color: #fff;
        }
      }
      .karta_sayta {
        color: #fff;
        font-size: 20px;
        padding-left: 20px;
        font-weight: 500;
        text-decoration: none;
        background-color: #da002b;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            color: #a09f9f;
        }
      }
    }
    .right_top_nav {
      display: flex;
      align-items: center;
      gap: 1rem;
      .phone_num {
        color: #fff;
        font-size: 22px;
        font-weight: 600;
        text-decoration: none;
      }
      .sell_on_olcha {
        color: #fff;
        background-color: #da002b;
        border: 2px solid #fff;
        padding: 10px;
        border-radius:10px;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
          background-color: #fff;
          color: #da002b;
        }
      }
      .lang_switcher {
        display: flex;
        align-items: center;
        gap: 1rem;
        .lang {
          text-decoration: none;
          color: #aeaeae;
          cursor: pointer;
          font-size: 18px;
          transition: 0.3s;

          &:hover {
            color: #fff;
          }
          &.active {
            color: #fff;
          }
        }
        .bord {
          width: 1px;
          background-color: #a09f9f;
          height: 50px;
        }
      }
    }
  }
}
